html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  font-family: 'Montserrat', sans-serif;
}

main {
  left: 30vw;
  width: 70vw;
  height: 100vh;
  position: relative;
}

nav {
  top: 0;
  height: 100vh;
  position: fixed;
  width: 30vw;
}

a {
  text-decoration: none;
  transition: all .1s ease;
}